.page {
    display: grid;
    justify-content: start;
    justify-items: center;
    align-items: end;
    grid-template-columns: repeat(10, auto);
    font-size: 25px;
    gap: 20px;
}

.activePage {
    font-size: 28px;
    font-weight: bold;
}